<div class="container-fluid" id="content">
    <h3>Order a Burger:</h3>
    <form class='create-form'>

        <div class='form-group'>
            <textarea class="form-control" id="burger" name="burger_name" rows="2"></textarea>
        </div>

        <button class="btn" type='submit'>Order!</button>
    </form>

    <div class="row">
        <div class="col-md-6">
            <h3>Ready to Devour!</h3>
            <hr class="content-hr">
            <ul>
                {{#each burgers}} {{#unless devoured}} {{> burger-block}} {{/unless}} {{/each}}
            </ul>
        </div>
        <div class="col-md-6">
            <h3>Already Devoured!</h3>
            <hr class="content-hr">
            <ul>
                {{#each burgers}} {{#if devoured}} {{> devoured-block}} {{/if}} {{/each}}
            </ul>
        </div>
    </div>
</div>